/* ROOT */
:root {
  --hero--bottom-section-bg: #014E56;
  --center-bg: #012F34;
  --reviews-bg: #004047;
  --second-special-color: #79C8C7;
  --first-special-color: #F67E7E;
  --site-footer-bg: #002529;
  /* FONT */
  --site-font: 'Livvic', "Arial", sans-serif;
}

/* FONTS */

@font-face {
  font-family: 'Livvic';
  src: url('../font/Livvic-Bold.woff2') format('woff2'),
      url('../font/Livvic-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url('../font/Livvic-Medium.woff2') format('woff2'),
      url('../font/Livvic-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url('../font/Livvic-SemiBold.woff2') format('woff2'),
      url('../font/Livvic-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


/* GEN415pxERAL */
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--site-font);
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
  background-color: #fff;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* HEADER */

.site-header {
  padding-top: 73px;
  padding-bottom: 73px;
  background-color: var(--hero--bottom-section-bg);
}

.site-header__container {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 28px;
}

.site-header__logo {
  transition: opacity 0.3s ease;
}

.site-header__logo:hover {
  opacity: 0.8;
}

.site-header__logo:active {
  opacity: 0.6;
}

.site-header__logo-img {
  display: block;
}

.site-header__list {
  display: flex;
  margin: 0 0 0 80px;
  padding: 0;
  align-items: center;
  list-style: none;
}

.site-header__item {
  margin-right: 40px;
}

.site-header__item:hover .site-header__item-link {
  color: var(--first-special-color);
}

.site-header__item:active .site-header__item-link {
  opacity: 0.6;
}

.site-header__item-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.site-header__link  {
  margin-left: auto;
  border: 2px solid #fff;
  color: #fff;
}

.button {
  padding: 10px 32px;
  text-decoration: none;
  border-radius: 24px;transition: border-color 0.3s ease,
  color 0.3s ease,background-color 0.3s ease;
  font-weight: bold;
}

.site-header__link:hover {
  border-color: var(--first-special-color);
  color: var(--first-special-color);
  background-color: #fff;
}

.site-header__link:active {
  opacity: 0.7;
}



/* SITE HERO */
.site-hero {
  padding-top: 56px;
  padding-bottom: 255px;
  background-color: var(--hero--bottom-section-bg);
  background-image: url(../img/icon/hero-center-bg.svg),
  url(../img/icon/hero-bottom-bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + -685px) calc(50% - 105px),
  calc(50% - -390px) calc(50% - -259px);
}

.site-hero__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.site-hero__title {
  width: 530px;
}

.site-hero__heading {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
}

.site-hero__heading span {
  color: var(--first-special-color);
}

.site-hero__content::before {
  display: block;
  margin-bottom: 79px;
  width: 50px;
  height: 4px;
  content: "";
  background-color: var(--second-special-color);
}

.site-hero__text {
  margin: 0;
  padding: 0;
  width: 415px;
  font-size: 18px;
  line-height: 28px;
}

/* FEATURE */

.feature {
  padding-top: 198px;
  padding-bottom: 140px;
  background-color: var(--center-bg);
  background-image: url(../img/icon/features-bg.svg);
  background-repeat: no-repeat;
  background-position: right calc(50% - 676px) bottom calc(80% + -378px);
}

.feature__container {
  display: flex;
  justify-content: space-between;
}

.feature__title {
  position: relative;
  width: 445px;
}

.feature__title::before {
  position: absolute;
  top: -54px;
  left: 0;
  content: "";
  width: 50px;
  height: 4px;
  background-color: var(--first-special-color);
}

.feature__heading {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
}

.feature__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature__item {
  display: flex;
  margin-bottom: 32px;
}

.feature__item::before {
  display: block;
  margin-right: 23px;
  content: "";
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
}

.feature__item:nth-child(1)::before {
  background-image: url(../img/icon/experianced.svg);
}

.feature__item:nth-child(2)::before {
  background-image: url(../img/icon/easy.svg);
}

.feature__item:nth-child(3)::before {
  background-image: url(../img/icon/enganced.svg);
}

.feature__item-heading {
  margin: 0;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: var(--first-special-color);
}

.feature__item-desc {
  margin: 0;
  padding: 0;
  width: 445px;
}


/* REVIEWS */
.reviews {
  padding-top: 140px;
  padding-bottom: 150px;
  background-color: var(--reviews-bg);
  background-image: url(../img/reviews-top-bg.svg),
  url(../img/reviews-bottom-bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% - 602px) top, calc(50% + 602px) calc(50% + 403px);
}

.reviews__heading-inner {
  width: 932px;
  text-align: center;
}

.reviews__heading {
  margin: 0 0 92px;
  padding: 0;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
}

.reviews__heading span {
  color: var(--second-special-color);
}

.reviews__list {
  display: flex;
  margin: 0 0 24px -30px;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.reviews__item {
  margin-right: 30px;
  width: 350px;
}

.review {
  text-align: center;
}

.review__heading {
  margin: 0 0 2px;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: var(--second-special-color);
}

.review__text {
  margin: 0 0 32px;
  padding: 0;
  font-size: 13px;
  font-style: italic;
  line-height: 18px;
}


/* CTA */

.cta {
  padding-top: 76px;
  padding-bottom: 76px;
  background-image: url(../img/cta-bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% - 576px) calc(50% + 79px);
  background-color: var(--first-special-color);
}

.cta__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 917px;
  text-align: center;
}

.cta__heading {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 48px;  
  line-height: 48px;
  color: var(--center-bg);
}

.cta__btn {
  color: var(--center-bg);
  border: 2px solid var(--center-bg);
}

.cta__btn:hover {
  background-color: #fff;
}

.cta__btn:active {
  opacity: 0.7;
}


/* SITE-FOOTER */
.site-footer {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--site-footer-bg);
}

.site-footer__container {
  display: flex;
  align-items: center;
  align-items: start;
}

.site-footer__links {
  display: flex;
  flex-direction: column;
  margin-right: 125px;
}

.site-footer__link {
  margin-bottom: 25px;
  max-width: fit-content;
}

.site-footer__link:hover {
  opacity: 0.8;
}

.site-footer__link:active {
  opacity: 0.6;
}

.site-footer__logo {
  display: block;
}

.site-footer__list {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-footer__item {
  margin-right: 40px;
}

.site-footer__item:hover .site-footer__item-link {
  color: var(--first-special-color);
}

.site-footer__item:active .site-footer__item-link {
  opacity: 0.6;
}

.site-footer__adress {
  margin-right: auto;
  width: 165px;
  font-style: normal;
  opacity: 0.6;
}

.site-footer__item-link {
  display: block;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.site-footer__social-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.site-footer__social-item {
  margin-left: 16px;
}

.site-footer__social-icon {
  transition: fill 0.3s ease;
}

.site-footer__social-icon:hover {
  fill: var(--first-special-color);
}

.site-footer__copyright {
  margin: 0;
  padding: 0;
  opacity: 0.6;
}



/* ABOUT */
.about-hero {
  padding-top: 47px;
  padding-bottom: 120px;
  background-color: var(--hero--bottom-section-bg);
  background-image: url(../img/about-hero-bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 675px) bottom;
}

.about-hero__container {
  display: flex;
}

.about-hero__title {
  margin-right: 177px;
}

.about-hero__heading {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 64px;
  line-height: 100px;
}

.about-hero__content {
  position: relative;
  top: 40px;
  width: 590px;
}

.about-hero__content::before {
  position: absolute;
  top: -40px;
  left: 0;
  content: "";
  width: 50px;
  height: 4px;
  background-color: var(--first-special-color);
}

.about-hero__desc {
  margin: 0;
  padding: 0;
}


/* ABOUT-FEATUREs */

.about-features {
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: var(--reviews-bg);
  background-image: url(../img/reviews-top-bg.svg),
  url(../img/reviews-bottom-bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 605px) bottom, calc(50% - 675px) top;
}

.about-fetures__title {
  margin-bottom: 64px;
  text-align: center;
}

.about-features__heading {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
}

.about-features__list {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -48px;
  list-style: none;
}

.about-features__item {
  position: relative;
  margin-left: 30px;
  margin-bottom: 48px;
  width: 350px;
  perspective: 1000px;
}

.about-feature__active-content {
  padding: 35px 24px;
  padding-bottom: 56px;
  text-align: center;
  background-color: var(--center-bg);
}

.about-feature__heading {
  margin: 16px 0 0 0;
  padding: 0;
}

.user-name {
  color: var(--second-special-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}

.about-feature__desc {
  margin: 0;
  font-style: italic;
  font-weight: 500;
}

.about-feature__btn {
  position: absolute;
  left: calc(50% - 23px);
  top: calc(50% + 105px);
  background-color: var(--first-special-color);
  border: 1px solid transparent;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  background-image: url(../img/icon/plus.svg);
  background-repeat: no-repeat;
  background-position: center center;
  transition: transform 0.4s ease;
}

.about-feature__btn:hover {
  background-color: var(--second-special-color);
}

.about-feature__user-content {
  position: absolute;
  padding: 35px 24px;
  padding-bottom: 56px;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: var(--site-footer-bg);
  backface-visibility: hidden;
  transition: transform 0.4s ease;
  transform: rotateY(180deg);
}

.about-feature__social-link {
  text-decoration: none;
}

.about-feature__card-active .about-feature__user-content {
  transform: rotateY(0deg);
}

.about-feature__card-active .about-feature__btn {
  transform: rotate(45deg);
  background-color: var(--second-special-color);
}

.clients {
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: var(--center-bg);
  background-image: url(../img/clients-bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% - 575px) top;
}

.clients__heading {
  margin: 0 0 70px 0;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.clients__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.clients__item {
  margin-left: 80px;
}
